.App {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    max-width: 70%;
    margin: auto;
}

.l1{
    display: inline-block;
    block-size: 3rem;
    width: 30rem;
    text-align: justify;
}
.Busqueda {
    align-items: right;
    text-align: right;
    block-size: 3rem;
    width: 7rem;

}



.FormGroup {
    margin-bottom: 20px;
}

.Form {
    margin-bottom: 20px;
}

.Title {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .App {
        max-width: 90%;
    }

    .Title {
        font-size: 1rem;
        margin-top: 2rem;
    }
}